@media (max-width: 1440px)
    .content
        .about-text
            h3
                left: 650px
                max-width: 590px
        header
            margin: 40px 64px 170px
            .menu-icon-wrapper 
                .left-sidebar
                    display: none
                    position: fixed
                    padding: 372px 264px 60px 222px
                    left: 0
                    top: 0
                    z-index: 99
                    overflow: auto
                    height: 100%
                    background-color: #131313
                    transition: .25s ease-in
                    flex-direction: column
                    overflow-x: hidden
        .blContent
            .blContent-wrapper
                width: 920px
                .det_des
                    .description
                        width: 632px
    #page1
        main
            .item-wrapper
                .potrait
                    max-width: 287px
                .landscape
                    max-width: 476px 
    #page2
        main
            .item-wrapper
                .owl-carousel
                    .item
                        max-width: 920px
    #page3
        main
            .item-wrapper
                .grid
                    gap: 80px 0px
                    .image-l
                        width: 480px
                    .image-m
                        width: 380px
    
    #page4
        main
            .item-wrapper
                .grid
                    grid-template-areas: '. . img2' 'img1 . img2' 'img3 img3 img3'
                    gap: 80px 20px
                    justify-content: center
                    .image-s
                        max-width: 400px
                    .image-m
                        max-width: 500px
                    .image-l
                        max-width: 920px
                             
@media (max-width: 1280px)
    .content
        .about-text
            h3
                width: 490px
                top: 350px
                left: 490px
        header
            .menu-icon-wrapper 
                .left-sidebar
                    display: none
                    position: fixed
                    left: 0
                    top: 0
                    z-index: 99
                    padding: 300px 174px 0
                    overflow: auto
                    height: 100%
                    background-color: #131313
                    transition: .25s ease-in
                    flex-direction: column
                    overflow-x: hidden
                    li
                        margin-bottom: 32px
    #page1
        main
            .item-wrapper
                .potrait
                    max-width: 287px
                .landscape
                    max-width: 476px 
    #page2
        main
            .item-wrapper
                .owl-carousel
                    .item
                        max-width: 820px
    #page3
        main
            .item-wrapper
                .grid
                    grid-template-areas:  'img1 . .'  'img1 . img2' '. . img2' 'img3 . img2' 'img3 . .' 'img3 . img4' '. . img4' '. . img4'
                    gap: 0px
                    .image-l
                        width: 420px
                    .image-m
                        width: 320px
@media (max-width: 992px)
    .content
        header
            margin: 40px 34px 170px
        .about-text
            h3
                top: 300px
                width: 370px
        .blContent
            .blContent-wrapper
                width: 700px
                .det_des
                    grid-template-columns: auto 
                    justify-content: center
                    .details
                        margin: 0 auto
                        margin-bottom: 50px
                        width: 100%
                        display: flex
                        flex-wrap: wrap
                        justify-content: space-between
                    .description
                        width: 700px   
    #page1
        main
            .about-text
                &.active
                    display: none
            .item-wrapper
                grid-template-areas: 'img1 . .' 'img1 img2 img2'   'img3 img3 .' 'img3 img3 img4' 'img3 img3 img4' 'img5 img5 img4' 'img5 img5 .'  'img6 img7 img7' 'img6 . .' 'img6 . .'  
    #page2
        main
            .item-wrapper
                .owl-carousel
                    .item
                        max-width: 700px                               
    #page3
        main
            .item-wrapper
                .grid
                    grid-template-areas:  'img1 .'  'img1 img2' '. img2' 'img3 img2' 'img3 .' 'img3 img4' '. img4'
                    .image-l
                        width: 380px
                    .image-m
                        width: 280px
    #page4
        main
            .item-wrapper
                .grid
                    justify-content: center
                    .image-s
                        max-width: 300px
                    .image-m
                        max-width: 400px
                    .image-l
                        max-width: 700px
@media (max-width: 850px)
    .content
        .about-text
            &.active
                display: none
@media (max-width: 800px)
    .caption
        h2
            font-size: 20px
            padding: 0  10px
        
    .content
        header
            margin: 40px 20px 140px 24px
        .blContent
            .blContent-wrapper
                width: 520px
                .det_des
                    .description
                        width: 520px
    #page1
        main
            padding: 0 .5em
            .item-wrapper
                grid-template-areas: 'img1 img2 img2' 'img3 img3 img4' 'img3 img3 img4' 'img5 img5 img4' 'img6 img7 img7'
                gap: 10px
                .potrait
                    max-width: 350px
                .landscape
                    max-width: 600px   
    #page2
        main
            .item-wrapper
                .owl-carousel
                    .item
                        max-width: 520px
                                            
    #page3
        main
            .item-wrapper
                .grid
                    grid-template-areas: 'img1 .' 'img1 img2' 'img3 img2' 'img3 .' 'img3 img4' '. img4'
                    gap: 20px
                    .image-l
                        width: 250px
                    .image-m
                        width: 250px
                    .grid-item
                        height: fit-content
                        &:nth-child(2)
                            justify-self: normal
    #page4
        main
            .item-wrapper
                .grid
                    justify-content: center
                    .image-s
                        max-width: 220px
                    .image-m
                        max-width: 280px
                    .image-l
                        max-width: 520px                       
@media (max-width: 568px)
    .content
        header
            margin: 40px 45px
            #logo
                width: 123px
                img
                    width: 100%
            .contact
                display: none !important
        .blContent
                    .blContent-wrapper
                        width: 390px
                        .det_des
                            .description
                                width: 390px  
    #page1
        main
            .item-wrapper
                grid-template-areas: 'img1 . .' 'img1 img2 img2'   'img3 img3 .' 'img3 img3 img4' 'img3 img3 img4' 'img5 img5 img4' 'img5 img5 .'  'img6 img7 img7' 'img6 . .' 'img6 . .'  
                grid-template-areas: '. img1 .' '. img2 .''. img3 .''. img4 .''. img5 .''. img6 .''. img7 .'      
                .items
                    margin: 15px 0 5px
                .potrait
                    max-width: 400px
                .landscape
                    max-width: 400px  
    #page2
        main
            .item-wrapper
                .owl-carousel
                    .item
                        max-width: 390px
                .slider
                    margin: 40px 0                                  
    #page3
        main
            .item-wrapper
                .grid
                    grid-template-areas: 'img1' 'img2' 'img3' 'img4'
                    gap: 20px
                    .image-l
                       width: calc( 100% - 140px )
                       min-width: 300px
                    .image-m
                       width: calc( 100% - 100px )
                       min-width: 300px
                    .grid-item
                        justify-self: center
                        &:nth-child(2)
                            justify-self: center
    #page4
        main
            .item-wrapper
                .grid
                    justify-content: center
                    grid-template-areas: 'img1' 'img2' 'img3'
                    gap: 20px
                    .image-s
                        max-width: 400px
                    .image-m
                        max-width: 400px
                    .image-l
                        max-width: 400px                                
@media (max-width: 420px)
    .content
        header
            margin: 40px 45px
            .menu-icon-wrapper 
                .left-sidebar
                    z-index: 99
                    padding: 300px 100px 0
        .blContent
            .blContent-wrapper
                width: 320px
                .det_des
                    .description
                        width: 320px                       
    #page2
        main
            .item-wrapper
                .owl-carousel
                    .item
                        max-width: 320px   

    #page4
        main
            .item-wrapper
                .grid
                    justify-content: center
                    grid-template-areas: 'img1' 'img2' 'img3'
                    padding: 0 1em
                    .image-s
                        max-width: 400px
                    .image-m
                        max-width: 400px
                    .image-l
                        max-width: 400px                                                    