@media (max-width: 1440px)
    .content
        .about-text
            h3
                left: 650px
                max-width: 590px
        header
            .menu-icon-wrapper 
                .left-sidebar
                    display: none
                    position: fixed
                    padding: 372px 264px 60px 222px
                    left: 0
                    top: 0
                    z-index: 99
                    overflow: auto
                    height: 100%
                    background-color: #131313
                    transition: .25s ease-in
                    flex-direction: column
                    overflow-x: hidden
        main
            .item-wrapper
                .potrait
                    max-width: 287px
                .landscape
                    max-width: 476px 
@media (max-width: 1280px)
    .content
        .about-text
            h3
                width: 490px
                top: 350px
                left: 490px
        header
            .menu-icon-wrapper 
                .left-sidebar
                    display: none
                    position: fixed
                    left: 0
                    top: 0
                    z-index: 99
                    padding: 300px 174px 0
                    overflow: auto
                    height: 100%
                    background-color: #131313
                    transition: .25s ease-in
                    flex-direction: column
                    overflow-x: hidden
                    li
                        margin-bottom: 32px
        main
            .item-wrapper
                .potrait
                    max-width: 287px
                .landscape
                    max-width: 476px 

@media (max-width: 992px)
    .content
        .about-text
            h3
                top: 300px
                width: 370px
        header
        main
            .about-text
                &.active
                    display: none
            .item-wrapper
                grid-template-areas: 'img1 . .' 'img1 img2 img2'   'img3 img3 .' 'img3 img3 img4' 'img3 img3 img4' 'img5 img5 img4' 'img5 img5 .'  'img6 img7 img7' 'img6 . .' 'img6 . .'                        
@media (max-width: 850px)
    .content
        .about-text
            &.active
                display: none
@media (max-width: 800px)
    .content
        main
            padding: 0 .5em
            .item-wrapper
                grid-template-areas: 'img1 img2 img2' 'img3 img3 img4' 'img3 img3 img4' 'img5 img5 img4' 'img6 img7 img7'
                gap: 10px
                .potrait
                    max-width: 350px
                .landscape
                    max-width: 600px                      
@media (max-width: 568px)
    .content
        header
            margin: 40px 45px
            #logo
                width: 123px
                img
                    width: 100%
            .contact
                display: none !important
        main
            .item-wrapper
                grid-template-areas: 'img1 . .' 'img1 img2 img2'   'img3 img3 .' 'img3 img3 img4' 'img3 img3 img4' 'img5 img5 img4' 'img5 img5 .'  'img6 img7 img7' 'img6 . .' 'img6 . .'  
                grid-template-areas: '. img1 .' '. img2 .''. img3 .''. img4 .''. img5 .''. img6 .''. img7 .'      
                .items
                    margin: 15px 0 5px
                .potrait
                    max-width: 400px
                .landscape
                    max-width: 400px            

@media (max-width: 420px)
     .content
        header
            margin: 40px 45px
            .menu-icon-wrapper 
                .left-sidebar
                    z-index: 99
                    padding: 300px 100px 0