*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: rgb(10, 10, 10);
  background-image: url(../images/lines.png);
  background-size: 100%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.caption h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #f9f9f9;
  line-height: 46px;
  padding: 0 117px;
}
.caption h2 span {
  color: #d7b065;
}

.content .about-text {
  display: none;
  position: relative;
}
.content .about-text h3 {
  position: absolute;
  top: 450px;
  left: 840px;
  width: 590px;
  font-weight: 600;
  font-family: "montserrat";
  font-size: 30px;
  line-height: 46px;
  color: #F9F9F9;
}
.content .about-text h3 span {
  color: #D7B065;
}
.content .about-text.active {
  display: flex;
}
.content header {
  margin: 40px 124px 170px 124px;
  position: relative;
}
.content header .menu-icon-wrapper {
  margin: 20px 0;
  position: relative;
}
.content header .menu-icon-wrapper .menu-icon {
  width: 38px;
  cursor: pointer;
  gap: 9px;
  position: relative;
  z-index: 100;
}
.content header .menu-icon-wrapper .menu-icon span {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
}
.content header .menu-icon-wrapper .menu-icon span:nth-child(1) {
  width: 28px;
  transition: all 0.3s ease-in-out;
}
.content header .menu-icon-wrapper .menu-icon span:nth-child(2) {
  width: 20px;
  transition: all 0.3s ease-in-out;
}
.content header .menu-icon-wrapper .menu-icon span:nth-child(3) {
  width: 38px;
  transition: all 0.3s ease-in-out;
}
.content header .menu-icon-wrapper .menu-icon:hover span:nth-child(1) {
  transform: translateX(7px);
}
.content header .menu-icon-wrapper .menu-icon:hover span:nth-child(2) {
  transform: translateX(10px);
}
.content header .menu-icon-wrapper .menu-icon.active span:nth-child(1) {
  width: 38px;
  transform: rotate(40deg) translate(0px, 15px);
}
.content header .menu-icon-wrapper .menu-icon.active span:nth-child(3) {
  width: 38px;
  transform: rotate(-40deg) translate(0px, -15px);
}
.content header .menu-icon-wrapper .menu-icon.active span:nth-child(2) {
  opacity: 0;
}
.content header .menu-icon-wrapper .left-sidebar {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  padding: 372px 314px 60px 272px;
  overflow: auto;
  height: 100%;
  background-color: #131313;
  transition: 0.25s ease-in;
  flex-direction: column;
  overflow-x: hidden;
}
.content header .menu-icon-wrapper .left-sidebar li {
  margin-bottom: 40px;
}
.content header .menu-icon-wrapper .left-sidebar li a {
  color: rgba(249, 249, 249, 0.5019607843);
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.content header .menu-icon-wrapper .left-sidebar li a:hover {
  color: #f9f9f9;
  text-decoration: underline;
  text-decoration-color: #D7B065;
  text-decoration-thickness: 6px;
}
.content header .menu-icon-wrapper .left-sidebar.active {
  display: flex;
}
.content header #logo {
  width: 75px;
}
.content header #logo img {
  max-width: 153px;
}
.content header #logo.inactive {
  display: none;
}
.content header .contact {
  margin: 22px 0;
  gap: 23px;
}
.content header .contact svg {
  cursor: pointer;
}
.content header .contact svg path {
  transition: all 0.5s ease-in-out;
}
.content header .contact svg:hover path {
  stroke-opacity: 1;
}
.content footer {
  display: flex;
  margin: 100px 0 0;
}
.content footer.inactive {
  display: none;
}
.content footer #logo img {
  max-width: 153px;
}
.content footer p {
  text-align: center;
  margin-top: 20px;
  color: rgba(249, 249, 249, 0.5019607843);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.content footer p a {
  color: #f9f9f9 !important;
  cursor: pointer;
}
.content footer p a:hover {
  text-decoration: underline !important;
}
.content .blContent {
  width: 100%;
}
.content .blContent .blContent-wrapper {
  width: 1106px;
}
.content .blContent .blContent-wrapper .det_des {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 100px;
}
.content .blContent .blContent-wrapper .det_des .details .detail-items {
  margin-bottom: 30px;
}
.content .blContent .blContent-wrapper .det_des .details .detail-items p {
  margin: 0;
}
.content .blContent .blContent-wrapper .det_des .details .detail-items p:first-child {
  color: #d7b065;
}
.content .blContent .blContent-wrapper .det_des .details .detail-items p:last-child {
  color: #f9f9f9;
}
.content .blContent .blContent-wrapper .det_des .description {
  width: 682px;
  line-height: 36px;
  text-align: justify;
}
.content .blContent .blContent-wrapper .det_des .description h3 {
  font-weight: 600;
  font-size: 16px;
  color: #d7b065;
}
.content .blContent .blContent-wrapper .det_des .description p {
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 500;
}
.content .blContent .blContent-wrapper .para p {
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 60px;
  text-align: justify;
}

#page1 main .item-wrapper {
  display: grid;
  justify-content: center;
  grid-template-areas: "img1 . ." "img1 . ." "img1 img2 img2" ". img2 img2" "img3 img3 ." "img3 img3 ." "img3 img3 img4" ". . img4" "img5 img5 img4" "img5 img5 ." ". img7 img7" ". img7 img7" "img6 img7 img7" "img6 . ." "img6 . .";
  column-gap: 24px;
  row-gap: -24px;
}
#page1 main .item-wrapper.inactive {
  display: none;
}
#page1 main .item-wrapper .potrait {
  max-width: 400px;
}
#page1 main .item-wrapper .landscape {
  max-width: 682px;
}
#page1 main .item-wrapper .items:nth-child(1) {
  grid-area: img1;
}
#page1 main .item-wrapper .items:nth-child(2) {
  grid-area: img2;
}
#page1 main .item-wrapper .items:nth-child(3) {
  grid-area: img3;
}
#page1 main .item-wrapper .items:nth-child(4) {
  grid-area: img4;
}
#page1 main .item-wrapper .items:nth-child(5) {
  grid-area: img5;
}
#page1 main .item-wrapper .items:nth-child(6) {
  grid-area: img6;
}
#page1 main .item-wrapper .items:nth-child(7) {
  grid-area: img7;
}
#page1 main .item-wrapper .items img {
  width: 100%;
  height: 100%;
}
#page1 main .item-wrapper .items p {
  margin: 15px 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #f9f9f9;
  letter-spacing: 2px;
}

#page2 main .item-wrapper {
  font-family: "montserrat";
}
#page2 main .item-wrapper.inactive {
  display: none;
}
#page2 main .item-wrapper .owl-carousel .item {
  max-width: 1106px;
}
#page2 main .item-wrapper .slider {
  margin: 80px 0 160px;
}
#page2 main .item-wrapper .slider .slider-items img {
  width: 100%;
  border-radius: 10px;
}

#page3 main .item-wrapper {
  max-width: 1106px;
  font-family: "montserrat";
}
#page3 main .item-wrapper.inactive {
  display: none;
}
#page3 main .item-wrapper .grid {
  display: grid;
  grid-template-areas: "img1 . ." "img1 . ." "img1 . img2" ". . img2" "img3 . img2" "img3 . ." "img3 . img4" ". . img4" ". . img4";
  gap: 80px 20px;
  margin: 80px 0;
  justify-content: center;
}
#page3 main .item-wrapper .grid .image-l {
  max-width: 541px;
}
#page3 main .item-wrapper .grid .image-m {
  max-width: 400px;
}
#page3 main .item-wrapper .grid .grid-item {
  max-height: 499px;
}
#page3 main .item-wrapper .grid .grid-item img {
  width: 100%;
  border-radius: 10px;
}
#page3 main .item-wrapper .grid .grid-item:nth-child(1) {
  grid-area: img1;
}
#page3 main .item-wrapper .grid .grid-item:nth-child(2) {
  grid-area: img2;
  justify-self: end;
}
#page3 main .item-wrapper .grid .grid-item:nth-child(3) {
  grid-area: img3;
}
#page3 main .item-wrapper .grid .grid-item:nth-child(4) {
  grid-area: img4;
}

#page4 main .item-wrapper {
  max-width: 1106px;
  font-family: "montserrat";
}
#page4 main .item-wrapper.inactive {
  display: none;
}
#page4 main .item-wrapper .grid {
  display: grid;
  grid-template-areas: ". . img2" "img1 . img2" "img3 img3 img3";
  gap: 80px 20px;
  margin: 80px 0;
  justify-content: center;
}
#page4 main .item-wrapper .grid .image-s {
  max-width: 424px;
  max-height: 600px;
}
#page4 main .item-wrapper .grid .image-m {
  max-width: 541px;
  max-height: 840px;
}
#page4 main .item-wrapper .grid .image-l {
  max-width: 1106px;
}
#page4 main .item-wrapper .grid .grid-item img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#page4 main .item-wrapper .grid .grid-item:nth-child(1) {
  grid-area: img1;
}
#page4 main .item-wrapper .grid .grid-item:nth-child(2) {
  grid-area: img2;
  justify-self: end;
}
#page4 main .item-wrapper .grid .grid-item:nth-child(3) {
  grid-area: img3;
}/*# sourceMappingURL=style.css.map */