*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: rgb(10, 10, 10);
  background-image: url(../images/lines.png);
  background-size: 100%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.content header {
  margin: 40px 124px 170px 124px;
}
.content header .menu-icon-wrapper {
  margin: 20px 0;
  background-color: #0A0A0A;
}
.content header .menu-icon-wrapper .menu-icon {
  width: 38px;
  cursor: pointer;
  gap: 9px;
}
.content header .menu-icon-wrapper .menu-icon span {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
}
.content header .menu-icon-wrapper .menu-icon span:nth-child(1) {
  width: 28px;
  transition: all 0.3s ease-in-out;
}
.content header .menu-icon-wrapper .menu-icon span:nth-child(2) {
  width: 20px;
  transition: all 0.3s ease-in-out;
}
.content header .menu-icon-wrapper .menu-icon span:nth-child(3) {
  width: 38px;
  transition: all 0.3s ease-in-out;
}
.content header .menu-icon-wrapper .menu-icon.active span:nth-child(1) {
  width: 38px;
  transform: rotate(40deg) translate(0px, 15px);
}
.content header .menu-icon-wrapper .menu-icon.active span:nth-child(3) {
  width: 38px;
  transform: rotate(-40deg) translate(0px, -15px);
}
.content header .menu-icon-wrapper .menu-icon.active span:nth-child(2) {
  opacity: 0;
}
.content header .menu-icon-wrapper .left-sidebar {
  display: none;
}
.content header .menu-icon-wrapper .left-sidebar li {
  margin-bottom: 58px;
}
.content header .menu-icon-wrapper .left-sidebar li a {
  color: rgba(249, 249, 249, 0.5019607843);
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.content header .menu-icon-wrapper .left-sidebar li a:hover {
  color: #f9f9f9;
  text-decoration: underline;
  text-decoration-color: #D7B065;
  text-decoration-thickness: 6px;
}
.content header .menu-icon-wrapper .left-sidebar.active {
  display: block;
}
.content header #logo {
  width: 75px;
}
.content header #logo img {
  max-width: 153px;
}
.content header .contact {
  margin: 22px 0;
  gap: 23px;
}
.content header .contact svg {
  cursor: pointer;
}
.content header .contact svg path {
  transition: all 0.5s ease-in-out;
}
.content header .contact svg:hover path {
  stroke-opacity: 1;
}
.content main #sec1 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 24px;
  grid-template-areas: "img1 . ." "img1 . ." "img1 img2 img2" ". img2 img2";
}
.content main #sec1 .items:nth-child(1) {
  max-width: 400px;
  grid-area: img1;
}
.content main #sec1 .items:nth-child(2) {
  max-width: 682px;
  grid-area: img2;
}
.content main #sec1 .items img {
  width: 100%;
  height: 100%;
}
.content main #sec1 .items p {
  margin: 15px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #f9f9f9;
  letter-spacing: 2px;
}
.content main #sec2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 24px;
  grid-template-areas: "img1 img1 ." "img1 img1 ." "img1 img1 img2" ". . img2" ". . img2" "img3 img3 img2" "img3 img3 img2" "img3 img3 ." "img3 img3 .";
}
.content main #sec2 .items:nth-child(1) {
  max-width: 682px;
  grid-area: img1;
}
.content main #sec2 .items:nth-child(2) {
  max-width: 400px;
  grid-area: img2;
}
.content main #sec2 .items:nth-child(3) {
  max-width: 682px;
  grid-area: img3;
}
.content main #sec2 .items img {
  width: 100%;
  height: 100%;
}
.content main #sec2 .items p {
  margin: 15px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #f9f9f9;
  letter-spacing: 2px;
}
.content main #sec3 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 24px;
  grid-template-areas: ". img2 img2" "img1 img2 img2" "img1 . .";
}
.content main #sec3 .items:nth-child(1) {
  max-width: 400px;
  grid-area: img1;
}
.content main #sec3 .items:nth-child(2) {
  max-width: 682px;
  grid-area: img2;
}
.content main #sec3 .items img {
  width: 100%;
  height: 100%;
}
.content main #sec3 .items p {
  margin: 15px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #f9f9f9;
  letter-spacing: 2px;
}
.content footer {
  margin: 100px 0 0;
}
.content footer #logo {
  border: 3px solid #f9f9f9;
  margin-top: 20px;
}
.content footer #logo h1 {
  color: #f9f9f9;
  font-size: 36px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 11px 20px;
}
.content footer p {
  margin-top: 20px;
  color: rgba(249, 249, 249, 0.5019607843);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.content footer p span {
  color: #f9f9f9;
}/*# sourceMappingURL=style.css.map */